# logger.conf
# Python:   3.5.2
# Platform: Windows/Linux/ARMv7
# Author:   Heyn
# Program:
# History:  2017/03/06 V1.0.0[Heyn]
#           level=NOTSET\DEBUG\INFO\WARN\ERROR\CRITICAL
###############################################
[loggers]
keys=root, AVRL132

[logger_root]
level=DEBUG
handlers=hand01

[logger_AVRL132]
level=DEBUG
handlers=hand01
qualname=AVRL132
propagate=0
###############################################
[handlers]
keys=hand01,hand02,hand03

[handler_hand01]
class=StreamHandler
formatter=form02
args=(sys.stderr,)

[handler_hand02]
class=FileHandler
level=DEBUG
formatter=form01
args=('logging.log', 'a')

[handler_hand03]
class=handlers.RotatingFileHandler
level=INFO
formatter=form02
args=('logging.log', 'a', 10*1024*1024, 5)

###############################################
[formatters]
keys=form01,form02

[formatter_form01]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
datefmt=%a, %d %b %Y %H:%M:%S

[formatter_form02]
format=%(name)-12s: %(levelname)-8s %(message)s
datefmt=%a, %d %b %Y %H:%M:%S