<?xml version="1.0" encoding="UTF-8"?>
<agent n="Agent-1201271" id="1201271" flag="SET-TASKS" port="-1">
    <model n="FP7" id="169" d="IDrv.Custom:libDModbus" config="rtu;/dev/ttyO4;9600;None;8;1;STANDARD;200;100;20" devicedriver="Modbus-RTU">
        <device n="FP7" id="44" ip="192.168.1.1" type="test">
            <driver n="IDrv.Custom:libDModbus" config="rtu;/dev/ttyO4;9600;None;8;1;STANDARD;200;100;20" id="169">
                <commDataItems>
                    <dataItem id="47" n="DT10" alias="DT" config="1;3;10;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="49" n="DT12" alias="DT" config="1;3;12;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="52" n="DT11" alias="DT" config="1;3;11;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="53" n="DT13" alias="DT" config="1;3;13;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="55" n="DT14" alias="DT" config="1;3;14;1;DOUBLE;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="57" n="DT17" alias="DT" config="1;3;17;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="58" n="DT16" alias="DT" config="1;3;16;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="59" n="DT18" alias="DT" config="1;3;18;1;int16_t;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="62" n="DT1" alias="DT" config="1;3;1;1;DOUBLE;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="34" n="DT100" alias="DT" config="1;3;100;1;DOUBLE;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="63" n="DT20" alias="DT" config="1;3;20;1;DOUBLE;0;0;0" type="a" rw="0" freq="1000" report="1"/>
                    <dataItem id="102" n="DT500" alias="DT" config="1;1;500;1;STRING26;0;0;0" type="s" rw="0" freq="1000" report="1"/>
                </commDataItems>
            </driver>
        </device>
    </model>
</agent>